.button {
    &.next {
        background-color: #4CAF50; /* Green */
    }
    &.previous {
        background-color: rgb(255, 0, 0); /* Red */
    }
    &.letter {
        background-color: rgb(2, 162, 255); /* Blue */
    }
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    &.m-2 {
        margin: 3px;
        cursor: pointer;
    }
}