.text-input, .select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.container {
    background-color: #fff;
    border-radius: 8px;
}
.heading {
    h1 {
        background: -webkit-linear-gradient(#fff, #999);
        -webkit-text-fill-color: transparent;
        -webkit-background-clip: text;
        text-align: center;
        margin: 0 0 5px 0;
        font-weight: 900;
        font-size: 4rem;
        color: #fff;
    }
    h4 {
        color: lighten(#5c3d86,30%);
        text-align: center;
        margin: 0 0 35px 0;
        font-weight: 400;
        font-size: 24px;
    }
}
  
.has-success {
    color: green;
    &span.border {
        border: 1px solid green;
    }
}

.has-error {
    color: red;
    &span.border {
        border: 1px solid red;
    }
}