<template>
  <div class="hello">
    <div class="select" :class="[isDatesValid() ? 'has-success border': 'has-error border']">
      <v-md-date-range-picker
        max-year="2025"
        min-year="1950"
        show-year-select
        v-model="dates"
        @change="handleChange"
      ></v-md-date-range-picker>
      <div :class="[!isDatesValid() ? 'has-error' : '']" v-if="!isDatesValid()">Wskaż zakres dat</div>
    </div>
    <div>
      <select v-model="state_id" class="select" :class="[isStateValid() ? 'has-success border': 'has-error border']">
        <option v-for="state in states" :key="state.id" :value="state.id">
          {{ state.name }}
        </option>
      </select>
      <span :class="[!isStateValid() ? 'has-error' : '']" v-if="!isStateValid()">Wybierz województwo</span>
    </div>
    <div class="container">
      <input type="text" v-model="email" class="text-input" :class="[isEmailValid() ? 'has-success border': 'has-error border']">
      <span :class="[!isEmailValid() ? 'has-error' : '']" v-if="!isEmailValid()">Wpisz prawidłowy format email: musi zawierać domene: .com.pl</span>
    </div>
    <div :disabled="!isStateValid() && !isEmailValid()">
      <span class="button next" @click="submit">Dalej</span>
    </div>
  </div>
</template>

<script>
import {APIService} from '../APIService';
import store from '../store';

export default {
  name: 'FirstStep',
  props: ['getData'],
  data () {
    return {
      states: '',
      dates: [],
      reg: /@[a-zA-Z0-9][\w\.-]*com.pl\s*$/,
      data: this.getData
    }
  },
  methods: {
    handleChange(values) {
      this.dates = [
        values[0].format('YYYY-MM-DD'),
        values[1].format('YYYY-MM-DD')
      ];
    },
    getStates() {
      let api = new APIService();
      
      api.getStates().then((response) => {
        this.states = response.data
      });

      return this.states;
    },
    isEmailValid() {
      return (this.email == "") ? "" : (this.reg.test(this.email)) ? true : false;
    },
    isStateValid() {
      return (this.state_id !== "") ? true : false;
    },
    isDatesValid() {
      return (this.dates.length != 0) ? true : false;
    },
    validateForm() {
      if(!this.isEmailValid() || !this.isStateValid() || !this.isDatesValid()) {
        return;
      } else {
        return true;
      }
    },
    submit() {
      if(this.validateForm()) {
        let data = {
          'email': this.email,
          'dates': this.dates,
          'state_id': this.state_id,
          'state': this.states[this.state_id-1].slug
        }
      
        this.$router.push({name: 'SecondStep', params: { getData: data }});
      }
    }
  },
  mounted() {
    this.getStates();
  },
  computed: {
    email: {
      get() {
        return store.state.email;
      },
      set(value) {
        store.commit('setEmail', { email: value });
      }
    },
     state_id: {
      get() {
        return store.state.state_id;
      },
      set(value) {
        store.commit('setStateId', { state_id: value });
      }
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
</style>
