<template>
  <div class="hello">
    <div>
      <span class="button letter m-2" 
        v-for="letter in letters" :key="letter.index" 
        @click="storeLetters(letter)">
        {{ letter }}
      </span>
    </div>
    <div v-if="uuidText.length > 0">
      <ul>
        <li>Twój UUID: {{ uuidText }}</li>
        <li>Wybrane litery {{ uuid }}</li>
      </ul>
      <input type="text" v-model="uuidText" class="text-input"/>
      <span class="button letter m-2" @click="generateRadnomUUID">
          Generuj losowy UUID
      </span>
       <span class="button next m-2" @click="submit" v-if="uuidText.length>9">
         Dalej
       </span>
    </div>
  </div>
</template>

<script>
import {APIService} from '../APIService';
import {TextService} from '../TextService';
import store from '../store';

export default {
  name: 'SecondStep',
  props: ['getData'],
  data () {
    return {
      states: '',
      reg: /@com.pl\s*$/,
      uuid: '',
      uuidText: '',
      letters: [],
      userLetters: ''
    }
  },
  methods: {
    showLetters(data) {
      var slug = data['state'].replace('-', '').split('');
      var email = data['email'].replace(/[0-9]/g, '').replace(/[^a-zA-Z ]/g, '').split('');
      email.splice( email.indexOf('@'), 1 );

      for( var i = email.length-1; i--;) {
        if ( email[i] === '.') email.splice(i, 1);
      }

      this.letters = this.letters.concat(email);
      this.letters = this.letters.concat(slug);
    },
    storeLetters(letter) {
      if(this.uuid.length < 10) {
        this.uuidText += letter;
      }
      this.uuid = this.uuidText;
    },
    generateRadnomUUID() {
      this.uuidText = '';
      for(var i=0; i<10; i++) {
        var textService = new TextService();
        var letter = this.letters[textService.randomInt(0, this.letters.length)];
        this.uuidText += letter;
      }
    },
    submit() {
      this.getData['uuid'] = this.uuidText.replace(/[^a-zA-Z ]/g, "");
      this.getData['userLetters'] = this.uuid;

      this.$router.push({name: 'ThirdStep', params: { getData: this.getData }});
    }
  },
  mounted() {
    this.showLetters(this.getData);
  },
  computed: {
    email: {
      get() {
        return store.state.email;
      },
      set(value) {
        store.commit('setEmail', { email: value });
      }
    },
    state_id: {
      get() {
        return store.state.state_id;
      },
      set(value) {
        store.commit('setStateId', { state_id: value });
      }
    },
    dates: {
      get() {
        return store.state.dates;
      },
      set(value) {
        store.commit('setStateDate', { dates: value });
      }
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
</style>
