<template>
  <div class="hello">
    <p>
      Wybrany zakres dat: <b>{{ getData['dates'][0] }} - {{ getData['dates'][1] }}</b>
    </p>
    <p>
      Wybrane litery: <b>{{ getData['userLetters'] }}</b>
    </p>
    <p>
      UUID: <b>{{ getData['uuid'] }}</b>
    </p>
    <p>
      Przyładowy klucz: <b>{{ exampleKey }}</b>
    </p>
    <p v-if="!stored">
      <span class="button next" @click="storeData" v-if="!isStoring">Zatwierdź</span>
      <span class="button letter" v-if="isStoring">Wysyłam dane</span>
    </p>
    <p v-if="stored">
      <span class="button letter">Dane zostały zapisane dziękujemy</span>
    </p>
  </div>
</template>

<script>
import {APIService} from '../APIService';
import {TextService} from '../TextService';
import store from '../store';

export default {
  name: 'ThirdStep',
  props: ['getData'],
  data () {
    return {
      states: '',
      uuid: [],
      uuidText: '',
      letters: [],
      dataToAPI: '',
      isStoring: false,
      stored: false,
      startDate: new Date(this.getData['dates'][0]),
      endDate: new Date(this.getData['dates'][1]),
      exampleKey: ''
    }
  },
  methods: {
    generateKeys() {
      let textService = new TextService();
      let text = textService.generateText(this.getData['userLetters'], this.getData['uuid']);
      let currentDate = this.startDate;

      let output = [];
      for (this.startDate; this.startDate <= this.endDate; currentDate.setDate(currentDate.getDate() + 1)) {
        let date = new Date(currentDate);
        let fullYear = date.getFullYear();
        let preShortYear = date.getFullYear().toString().substr(-2);
        let posShortYear = date.getFullYear().toString().substr(2);
        
        let month = date.getMonth()+1>=10 ? date.getMonth()+1 : '0'+(date.getMonth()+1);
        let day = date.getDate()+1>10 ? date.getDate() : '0'+(date.getDate());
        let key = month+preShortYear+text+day+posShortYear;
        output.push([key, fullYear+'-'+month+'-'+day]);
      }

      this.dataToAPI = output;

      this.exampleKey = this.dataToAPI[0][0];
    },
    storeData() {
      this.isStoring = true;
      let api = new APIService();

      api.storeKeys(this.dataToAPI)
      .then(response => {
        alert(response.data.message);
        this.isStoring = false;
        this.stored = true;
      })
      .catch(e => {
        alert(this.errors.push(e))
        this.isStoring = false;
      })
    },
  },
  mounted() {
    this.generateKeys();
  },
  computed: {
    email: {
      get() {
        return store.state.email;
      },
      set(value) {
        store.commit('setEmail', { email: value });
      }
    },
     state_id: {
      get() {
        return store.state.state_id;
      },
      set(value) {
        store.commit('setStateId', { state_id: value });
      }
    },
    dates: {
      get() {
        return store.state.dates;
      },
      set(value) {
        store.commit('setStateDate', { dates: value });
      }
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
</style>
