<template>
  <div id="app">
    <header>
      <h2>Zadanie rekrutacyjne</h2>
    </header>

    <section>
      <router-view/>
    </section>

    <footer>
      <p>autor: Michał Biernat</p>
    </footer>
  </div>
</template>

<script>
export default {
  name: 'App'
}
</script>

<style lang="sass">
@import './assets/scss/_app.scss';
</style>
